/* Enter and leave animations can use different */
/* durations and timing functions.              */
.fade-enter-active {
  transition: opacity .350s ease;
}
.fade-leave-active {
  transition: opacity .350ms ease;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

@keyframes infiniteSliding{
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(100%);
  }
}
