// FONTS //
$montserrat: 'Montserrat', sans-serif;
$inconsolata: 'Inconsolata', sans-serif;

// COLORS //
// $color_text_main: #2c3e50;
$color_text_main: #343e48;
$color_text_date: lighten($color_text_main, 18);

// MARGINS
$main_photo_gap: 12px;
